# Project dependencies
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git
.cache
._cache
_.cache
..bfg-report
node_modules
yarn-error.log

.env.development
.env

# Build directory
/public

# macOS
.DS_Store

# deployment-specific configs
now.json

# Local Netlify folder
.netlify